.content {
  position: relative;
  padding: 20px 0 225px;
}

.box--floatbox {
  position: absolute;
  left: 2.5%;
  bottom: -60px;

  @media only screen and (min-width: $desktop-view) {
    left: 28%;
  }
}  