.btn {
  border-radius: 50px;
  border: none;
  font-family: inherit;
  font-weight: map-get($font-weights, bold);
  cursor: pointer;

  &--white {
    width: 120px;
    height: 30px;
    background-color: white;

    box-shadow: 0 3px 10px 0px rgba(0,0,0, 0.1);
    transition: color 200ms, background-color 200ms;

    &:hover {
      background-color: black;
      color: white;
    }

    @media only screen and (min-width: $desktop-view) {
      width: 160px;
      height: 40px;
      margin-right: 45px;
    }
  }

  &--pink {
    display: block;
    width: 240px;
    height: 45px;
    margin: 30px auto;

    background-color: $primary-one;
    color: white;

    box-shadow: 3px 3px 10px 0px rgba(0,0,0, 0.2);

    transition: color 200ms, background-color 200ms;

    &:hover {
      background-color: white;
      color: $primary-one;
    }

  }

  &--floatbox {
    margin: 0 auto;
  }
}

@media only screen and (min-width: $desktop-view) {
  .btn--header {
    margin-left: 75px;
  }
}
