.footer-nav {
  padding: 30px 0 40px 10px;

  &__item {
    list-style: none;
    color: white;
    line-height: 2;
    cursor: pointer;
  }

  &__container {
    @media only screen and (min-width: $desktop-view) {
      display: flex;
      flex-direction: column;     
      flex-wrap: wrap;
      height: 120px;
   }
  }

  @media only screen and (min-width: $desktop-view) {
    display: block; 
    width: 33%;
    padding-top: 0;   
  }
}