.social-media {
  display: flex;
  justify-content: space-evenly;

  width: 35%;
  margin: 0 auto;


  &__icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    height: 30px;
    width: 30px;
    border-radius: 50px;
  }

  @media only screen and (min-width: $desktop-view) {
    width: 10%;
    margin: 0;   
 }
}

.fab {
  color: white;
  font-size: 0.9rem;
}